*{
  padding: 0;
  margin: 0;
}

.MainPage{
  display: flex;
  margin: auto;
  margin-top: 5%;
  background: #c7c7c7;
  width: 90%;
  height: 80vh;
}

.controlPanel{
  margin-top: 20px;
  width: 100%;
  display: flex;
  button{
    background: #f30e29;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin: auto;
    height: 50px;
    width: 100px;
  }
}